@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lexend+Zetta:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
--colorBgCream: #f7f3ea;
--colorBgYellow: #d9c884;
--colorBgPink: #4a3142;
--colorBgGrey: #6b6b6b;
--colorBgPurple: #2a2b57;
--colorBgWhite: #fff;
--colorBgBlue: #365074;
--colorBgBlack: #000;

--font-sans: system-ui, 'Segoe UI', 'Helvetica Neue', Arial;
--font-serif: 'Georgia', serif;

--space-xxs: 0.25rem;
--space-xs: 0.5rem;
--space-s: 0.75rem;
--space-m: 1.25rem;
--space-l: 2rem;
--space-xl: 3.5rem;

--font-base: 1rem;
--font-lg: 1.25rem;
--font-xl: 1.75rem;
--font-xxl: 2.4rem;
}